<div class="container">
  <h1>Hooray!</h1>
  <h4>You'll receive an SMS at <%= current_user.phone %>. Click the link inside to verify!</h4>
  <p><%= link_to 'Go back to dashboard', dashboard_path %></p>
</div>
